<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="coop.jstp.tp.serviceimpl.MatchMapper">-->
<mapper namespace="matchMapper">

    <insert id="memberInput" parameterType="coop.jstp.tp.vo.TestDTO">
        INSERT INTO USERINFO (ID, PW, U_REG, SUMMONER_NAME) VALUES (#{id}, #{pw}, now(), #{summoner_Name});

    </insert>

    <insert id="matchingStart">
        INSERT INTO TB_MATCH (U_NUM, MATCHING_TIER) VALUES (#{userNum}, #{matchingTier});
    </insert>

    <delete id="matchingEnd">
        DELETE FROM TB_MATCH
        WHERE U_NUM = #{userNum}
    </delete>

    <select id="matchingOther" resultType="int">
        SELECT COUNT(*) FROM TB_MATCH
    </select>

    <select id="getMatchedUser" resultType="coop.jstp.tp.vo.MatchingDTO">
        SELECT *
        FROM TB_MATCH
        ORDER BY M_NUM
        LIMIT 2
    </select>

    <select id="getSummonerName" parameterType="int" resultType="coop.jstp.tp.vo.TestDTO">
        SELECT *
        FROM USERINFO
        WHERE U_NUM = #{uNum}
    </select>

    <select id="getMatchingUsers" resultType="hashMap">
        SELECT *
        FROM TB_MATCH
        ORDER BY M_NUM ASC;
    </select>

    <insert id="saveUserList" parameterType="list">
        INSERT INTO TB_MATCH_USER_TABLE (user1, user2) VALUES (#{user1}, #{user2});
    </insert>

    <select id="callSavedUserList" resultType="coop.jstp.tp.vo.MatchedUsersDTO">
        SELECT *
        FROM TB_MATCH_USER_TABLE
    </select>

    <delete id="matchingComplete" parameterType="int">
        DELETE
        FROM TB_MATCH_USER_TABLE
        WHERE M_NUM = #{matchingNumber}
    </delete>
</mapper>